In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
groundHog_data = pd.read_csv('archive.csv')

In [4]:
print (groundHog_data.head())

   Year Punxsutawney Phil  February Average Temperature  \
0  1886         No Record                           NaN
1  1887       Full Shadow                           NaN
2  1888       Full Shadow                           NaN
3  1889         No Record                           NaN
4  1890         No Shadow                           NaN

   February Average Temperature (Northeast)  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

   February Average Temperature (Midwest)  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN

   February Average Temperature (Pennsylvania)  March Average Temperature  \
0                                          NaN                        NaN
1                                          NaN                        NaN
2                                          NaN                        NaN
3                                          NaN                        NaN
4                                          NaN                        NaN

   March Average Temperature (Northeast)  March Average Temperature (Midwest)  \
0                                    NaN                                  NaN
1                                    NaN                                  NaN
2                                    NaN                                  NaN
3                                    NaN                                  NaN
4                                    NaN                                  NaN

   March Average Temperature (Pennsylvania)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

In [5]:
#see columns
print(groundHog_data.columns)

Index(['Year', 'Punxsutawney Phil', 'February Average Temperature',
       'February Average Temperature (Northeast)',
       'February Average Temperature (Midwest)',
       'February Average Temperature (Pennsylvania)',
       'March Average Temperature', 'March Average Temperature (Northeast)',
       'March Average Temperature (Midwest)',
       'March Average Temperature (Pennsylvania)'],
      dtype='object')

In [6]:
#see dimensions
print(groundHog_data.shape)

(132, 10)

In [9]:
#see data types
print(groundHog_data.dtypes)

Year                                            object
Punxsutawney Phil                               object
February Average Temperature                   float64
February Average Temperature (Northeast)       float64
February Average Temperature (Midwest)         float64
February Average Temperature (Pennsylvania)    float64
March Average Temperature                      float64
March Average Temperature (Northeast)          float64
March Average Temperature (Midwest)            float64
March Average Temperature (Pennsylvania)       float64
dtype: object

In [8]:
#descriptive stats
print(groundHog_data.describe())

       February Average Temperature  February Average Temperature (Northeast)  \
count                    123.000000                                123.000000
mean                      33.802846                                 22.691870
std                        3.269379                                  4.265619
min                       25.230000                                 10.400000
25%                       31.785000                                 20.050000
50%                       33.690000                                 22.900000
75%                       36.005000                                 25.950000
max                       41.410000                                 31.600000

       February Average Temperature (Midwest)  \
count                              123.000000
mean                                32.695935
std                                  4.843881
min                                 20.300000
25%                                 29.650000
50%                                 33.100000
75%                                 36.300000
max                                 41.400000

       February Average Temperature (Pennsylvania)  March Average Temperature  \
count                                   123.000000                 123.000000
mean                                     26.522764                  41.697398
std                                       4.512293                   2.936268
min                                      15.200000                  35.440000
25%                                      23.600000                  39.390000
50%                                      26.900000                  41.790000
75%                                      29.800000                  43.560000
max                                      35.800000                  50.410000

       March Average Temperature (Northeast)  \
count                             123.000000
mean                               32.367480
std                                 3.873586
min                                24.200000
25%                                29.700000
50%                                32.500000
75%                                34.800000
max                                43.400000

       March Average Temperature (Midwest)  \
count                            123.00000
mean                              42.56748
std                                4.49290
min                               28.50000
25%                               39.15000
50%                               42.80000
75%                               45.60000
max                               56.30000

       March Average Temperature (Pennsylvania)
count                                 123.00000
mean                                   35.90813
std                                     4.19167
min                                    24.50000
25%                                    33.00000
50%                                    35.90000
75%                                    38.50000
max                                    47.70000

In [10]:
#print all the null values
print(groundHog_data.isnull().sum())

Year                                           0
Punxsutawney Phil                              1
February Average Temperature                   9
February Average Temperature (Northeast)       9
February Average Temperature (Midwest)         9
February Average Temperature (Pennsylvania)    9
March Average Temperature                      9
March Average Temperature (Northeast)          9
March Average Temperature (Midwest)            9
March Average Temperature (Pennsylvania)       9
dtype: int64

In [11]:
#now check the number of 0s in each column
print(groundHog_data.isin([0]).sum())

Year                                           0
Punxsutawney Phil                              0
February Average Temperature                   0
February Average Temperature (Northeast)       0
February Average Temperature (Midwest)         0
February Average Temperature (Pennsylvania)    0
March Average Temperature                      0
March Average Temperature (Northeast)          0
March Average Temperature (Midwest)            0
March Average Temperature (Pennsylvania)       0
dtype: int64

In [14]:
groundHog_data_noNull = groundHog_data.dropna()
print(groundHog_data_noNull)

     Year Punxsutawney Phil  February Average Temperature  \
9    1895         No Record                         26.60
10   1896         No Record                         35.04
11   1897         No Record                         33.39
12   1898       Full Shadow                         35.37
13   1899         No Record                         25.50
..    ...               ...                           ...
126  2012       Full Shadow                         37.51
127  2013         No Shadow                         34.77
128  2014       Full Shadow                         32.13
129  2015       Full Shadow                         32.99
130  2016         No Shadow                         39.47

     February Average Temperature (Northeast)  \
9                                        15.6
10                                       22.2
11                                       23.6
12                                       24.8
13                                       18.1
..                                        ...
126                                      30.6
127                                      25.3
128                                      21.0
129                                      12.1
130                                      28.1

     February Average Temperature (Midwest)  \
9                                      21.9
10                                     33.5
11                                     34.7
12                                     33.3
13                                     22.2
..                                      ...
126                                    38.6
127                                    33.4
128                                    27.1
129                                    23.4
130                                    36.9

     February Average Temperature (Pennsylvania)  March Average Temperature  \
9                                           17.0                      39.97
10                                          26.6                      38.03
11                                          27.9                      38.79
12                                          26.7                      41.05
13                                          20.0                      37.63
..                                           ...                        ...
126                                         34.3                      50.41
127                                         27.4                      40.91
128                                         22.8                      40.51
129                                         16.1                      45.39
130                                         30.8                      47.50

     March Average Temperature (Northeast)  \
9                                     27.6
10                                    25.3
11                                    32.0
12                                    38.0
13                                    29.3
..                                     ...
126                                   43.4
127                                   32.7
128                                   26.0
129                                   27.8
130                                   38.8

     March Average Temperature (Midwest)  \
9                                   40.2
10                                  36.9
11                                  44.0
12                                  46.0
13                                  38.4
..                                   ...
126                                 56.3
127                                 37.3
128                                 38.0
129                                 41.6
130                                 49.5

     March Average Temperature (Pennsylvania)
9                                        31.3
10                                       27.8
11                                       36.9
12                                       42.0
13                                       34.0
..                                        ...
126                                      47.7
127                                      33.9
128                                      30.3
129                                      31.6
130                                      43.4

[122 rows x 10 columns]

In [15]:
#check for missing values

print(groundHog_data_noNull.isna().sum())

Year                                           0
Punxsutawney Phil                              0
February Average Temperature                   0
February Average Temperature (Northeast)       0
February Average Temperature (Midwest)         0
February Average Temperature (Pennsylvania)    0
March Average Temperature                      0
March Average Temperature (Northeast)          0
March Average Temperature (Midwest)            0
March Average Temperature (Pennsylvania)       0
dtype: int64

In [16]:
print(groundHog_data_noNull.describe())

       February Average Temperature  February Average Temperature (Northeast)  \
count                    122.000000                                122.000000
mean                      33.802705                                 22.693443
std                        3.282861                                  4.283174
min                       25.230000                                 10.400000
25%                       31.777500                                 20.025000
50%                       33.690000                                 22.950000
75%                       36.007500                                 25.975000
max                       41.410000                                 31.600000

       February Average Temperature (Midwest)  \
count                              122.000000
mean                                32.694262
std                                  4.863820
min                                 20.300000
25%                                 29.625000
50%                                 33.200000
75%                                 36.300000
max                                 41.400000

       February Average Temperature (Pennsylvania)  March Average Temperature  \
count                                   122.000000                 122.000000
mean                                     26.522951                  41.699016
std                                       4.530900                   2.948321
min                                      15.200000                  35.440000
25%                                      23.600000                  39.375000
50%                                      26.950000                  41.810000
75%                                      29.800000                  43.560000
max                                      35.800000                  50.410000

       March Average Temperature (Northeast)  \
count                             122.000000
mean                               32.368033
std                                 3.889555
min                                24.200000
25%                                29.700000
50%                                32.550000
75%                                34.800000
max                                43.400000

       March Average Temperature (Midwest)  \
count                           122.000000
mean                             42.568852
std                               4.511401
min                              28.500000
25%                              39.075000
50%                              42.850000
75%                              45.600000
max                              56.300000

       March Average Temperature (Pennsylvania)
count                                122.000000
mean                                  35.908197
std                                    4.208955
min                                   24.500000
25%                                   32.950000
50%                                   35.850000
75%                                   38.550000
max                                   47.700000

Year                                           0
Punxsutawney Phil                              0
February Average Temperature                   0
February Average Temperature (Northeast)       0
February Average Temperature (Midwest)         0
February Average Temperature (Pennsylvania)    0
March Average Temperature                      0
March Average Temperature (Northeast)          0
March Average Temperature (Midwest)            0
March Average Temperature (Pennsylvania)       0
dtype: int64

In [25]:
overall_feb_average_temp = groundHog_data_noNull['February Average Temperature'].median()
print("February Average Temperature", overall_feb_average_temp)

February Average Temperature 33.69

In [21]:
#get the 3rd and 1st quartile
pq3,pq1 = np.percentile(groundHog_data_noNull['February Average Temperature'], [75,25])

#get IQR for Feb. Avg. Temp
iqr = pq3-pq1
print("The upper quartile for February Average Temperature is", pq3)
print("the lower quartile is for February Average Temperature is", pq1)
print("The IQR for February Average Temperature", iqr)

The upper quartile for February Average Temperature is 36.0075
the lower quartile is for February Average Temperature is 31.7775
The IQR for February Average Temperature 4.23

In [26]:
overall_March_average_temp = groundHog_data_noNull['March Average Temperature'].median()
print("March Average Temperature", overall_March_average_temp )

Marcg Average Temperature 41.81

In [24]:
#get the 3rd and 1st quartile
pq3,pq1 = np.percentile(groundHog_data_noNull['March Average Temperature'], [75,25])

#get IQR for Feb. Avg. Temp and format to 2 decimals only
iqr = pq3-pq1
pq1_format = "{:.2f}".format(pq1)
iqr_format = "{:.2f}".format(iqr)
print("The upper quartile for March Average Temperature is", pq3)
print("the lower quartile is for March Average Temperature is", pq1_format)
print("The IQR for March Average Temperature", iqr_format)

The upper quartile for March Average Temperature is 43.56
the lower quartile is for March Average Temperature is 39.38
The IQR for March Average Temperature 4.19

In [31]:

print("The difference in average temperature between February and March is", overall_March_average_temp - overall_feb_average_temp)

The difference in average temperature between February and March is 8.120000000000005