In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
groundHog_data = pd.read_csv('archive.csv')

In [4]:
print (groundHog_data.head())

   Year Punxsutawney Phil  February Average Temperature  \
0  1886         No Record                           NaN
1  1887       Full Shadow                           NaN
2  1888       Full Shadow                           NaN
3  1889         No Record                           NaN
4  1890         No Shadow                           NaN

   February Average Temperature (Northeast)  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

   February Average Temperature (Midwest)  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN

   February Average Temperature (Pennsylvania)  March Average Temperature  \
0                                          NaN                        NaN
1                                          NaN                        NaN
2                                          NaN                        NaN
3                                          NaN                        NaN
4                                          NaN                        NaN

   March Average Temperature (Northeast)  March Average Temperature (Midwest)  \
0                                    NaN                                  NaN
1                                    NaN                                  NaN
2                                    NaN                                  NaN
3                                    NaN                                  NaN
4                                    NaN                                  NaN

   March Average Temperature (Pennsylvania)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

In [5]:
#see columns
print(groundHog_data.columns)

Index(['Year', 'Punxsutawney Phil', 'February Average Temperature',
       'February Average Temperature (Northeast)',
       'February Average Temperature (Midwest)',
       'February Average Temperature (Pennsylvania)',
       'March Average Temperature', 'March Average Temperature (Northeast)',
       'March Average Temperature (Midwest)',
       'March Average Temperature (Pennsylvania)'],
      dtype='object')

In [6]:
#see dimensions
print(groundHog_data.shape)

(132, 10)

In [9]:
#see data types
print(groundHog_data.dtypes)

Year                                            object
Punxsutawney Phil                               object
February Average Temperature                   float64
February Average Temperature (Northeast)       float64
February Average Temperature (Midwest)         float64
February Average Temperature (Pennsylvania)    float64
March Average Temperature                      float64
March Average Temperature (Northeast)          float64
March Average Temperature (Midwest)            float64
March Average Temperature (Pennsylvania)       float64
dtype: object

In [8]:
#descriptive stats
print(groundHog_data.describe())

       February Average Temperature  February Average Temperature (Northeast)  \
count                    123.000000                                123.000000
mean                      33.802846                                 22.691870
std                        3.269379                                  4.265619
min                       25.230000                                 10.400000
25%                       31.785000                                 20.050000
50%                       33.690000                                 22.900000
75%                       36.005000                                 25.950000
max                       41.410000                                 31.600000

       February Average Temperature (Midwest)  \
count                              123.000000
mean                                32.695935
std                                  4.843881
min                                 20.300000
25%                                 29.650000
50%                                 33.100000
75%                                 36.300000
max                                 41.400000

       February Average Temperature (Pennsylvania)  March Average Temperature  \
count                                   123.000000                 123.000000
mean                                     26.522764                  41.697398
std                                       4.512293                   2.936268
min                                      15.200000                  35.440000
25%                                      23.600000                  39.390000
50%                                      26.900000                  41.790000
75%                                      29.800000                  43.560000
max                                      35.800000                  50.410000

       March Average Temperature (Northeast)  \
count                             123.000000
mean                               32.367480
std                                 3.873586
min                                24.200000
25%                                29.700000
50%                                32.500000
75%                                34.800000
max                                43.400000

       March Average Temperature (Midwest)  \
count                            123.00000
mean                              42.56748
std                                4.49290
min                               28.50000
25%                               39.15000
50%                               42.80000
75%                               45.60000
max                               56.30000

       March Average Temperature (Pennsylvania)
count                                 123.00000
mean                                   35.90813
std                                     4.19167
min                                    24.50000
25%                                    33.00000
50%                                    35.90000
75%                                    38.50000
max                                    47.70000

In [10]:
print(groundHog_data.isnull().sum())

Year                                           0
Punxsutawney Phil                              1
February Average Temperature                   9
February Average Temperature (Northeast)       9
February Average Temperature (Midwest)         9
February Average Temperature (Pennsylvania)    9
March Average Temperature                      9
March Average Temperature (Northeast)          9
March Average Temperature (Midwest)            9
March Average Temperature (Pennsylvania)       9
dtype: int64